---
- name: Fedora Workstation tasks
  block:
    - name: Enable System76 COPR
      community.general.copr:
        host: copr.fedorainfracloud.org
        state: enabled
        name: szydell/system76
    - name: Install Microsoft Signing Key
      ansible.builtin.rpm_key:
        key: https://packages.microsoft.com/keys/microsoft.asc
        state: present
    - name: Land VS Code Yum Repo File
      ansible.builtin.template:
        src: visual-studio-code.repo.j2
        dest: /etc/yum.repos.d/visual-studio-code.repo
        owner: root
        group: root
        mode: 0644
    - name: Install Fedora System76 Drivers
      ansible.builtin.dnf:
        name:
          - system76-dkms
          - system76-power
          - system76-driver
          - system76-firmware
          - firmware-manager
          - system76-io-dkms
    - name: Enable System76 Drivers in SystemD
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: yes
      loop:
        - system76-power
        - system76-power-wake
        - system76-firmware-daemon
    - name: Start System76 Drivers in SystemD
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: started
        enabled: yes
      loop:
        - system76-power
        - system76-firmware-daemon
    - name: Install Flatpak
      ansible.builtin.dnf:
        name:
          - flatpak
        state: present
    - name: Install Phil Default packages
      ansible.builtin.dnf:
        name:
          - neovim
          - tmux
          - git
          - pandoc
          - nodejs
          - yarnpkg
          - dotnet-sdk-5.0
          - code
          - zsh
          - chromium
          - fzf
          - podman
          - buildah
          - skopeo
          - neovim-qt
          - python-neovim
          - container-selinux
          - selinux-policy-base
          - jq
    - name: Install k3s selinux Policy
      ansible.builtin.dnf:
        name: https://rpm.rancher.io/k3s/stable/common/centos/7/noarch/k3s-selinux-0.2-1.el7_8.noarch.rpm
        state: present
    - name: Install TexLive LaTeX Processor
      ansible.builtin.dnf:
        name:
          - latexmk
          - texlive
          - texlive-beamer
          - texlive-titling
          - texlive-ulem
        state: present
    - name: Install yq Processor
      ansible.builtin.get_url:
        url: "https://github.com/mikefarah/yq/releases/download/v4.6.1/yq_linux_amd64"
        checksum: "sha256:a339079fadf5e01d69067349b67db695db1a4f5046281713e35d9b6ca790b499"
        dest: /usr/local/bin/yq
        owner: root
        group: root
        mode: "0755"
    - name: Land Kubernetes Configuration
      ansible.builtin.template:
        src: kubernetes.repo.j2
        dest: /etc/yum.repos.d/kubernetes.repo
        owner: root
        group: root
        mode: '0644'
    - name: Install kubectl
      ansible.builtin.dnf:
        name:
          - kubectl
        state: present
        disable_excludes: kubernetes
    - name: Download kubecolor
      ansible.builtin.get_url:
        url: "https://github.com/dty1er/kubecolor/releases/download/v0.0.11/kubecolor_0.0.11_Linux_x86_64.tar.gz"
        checksum: "sha256:767f504f6d68743611343909fd816800c7c5ca3407da3bb7892d37be2894ba6e"
        dest: /tmp/kubecolor.tar.gz
        owner: root
        group: root
        mode: '0644'
    - name: Extract kubecolor
      ansible.builtin.unarchive:
        src: /tmp/kubecolor.tar.gz
        dest: /tmp
    - name: Install kubecolor
      ansible.builtin.copy:
        src: /tmp/kubecolor
        dest: /usr/local/bin/kubecolor
        owner: root
        group: root
        mode: '0755'
    - name: Install RPM Forge Free and Non-Free
      ansible.builtin.dnf:
        name:
          - https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-33.noarch.rpm
          - https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-33.noarch.rpm
        state: present
        disable_gpg_check: true
  when: (ansible_distribution == 'Fedora')
...
